body{
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.controle a{
    text-decoration:none;
    color:rgba(77, 189, 233, 2);
}
header{
    padding: 20px 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(77, 189, 233, 0.5);
}
header h1{
    margin-left:50px;
}
section{
    margin-top:100px;
    margin-left:400px;
}
table{
    border-radius:5px;
    padding:10px;
}
table tbody tr td {
    padding: 2px 5px;
    color:black;
    border-radius:4px;
    background-color:rgba(77, 189, 233, 0.1);
}

table thead tr th{
    background-color: rgba(77, 189, 233, 0.5);
    border-radius:4px;
}

.button button{
    padding:10px;
    border: black solid 2px;
    border-radius:5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position:relative;
    top:50px;
    left:1070px;
}
.button button a{
    text-decoration:none;
    color:rgba(77, 189, 233, 1);
}